---
layout: page
title: "About"
description: "Hello, this is SkylarkYan ……"
header-img: "img/about-bg.jpg"
---



<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p><em>一只技术渣渣，但仍然有着向往技术大牛的心……</em><br><em>每天浪费时间浪费生命，希望能够创造一点价值……</em></p></blockquote>
    <p>Hello World，我是木木彡，我并不是想玩拆字游戏，只是最喜欢这样拆分的一个别名了。目前还就读于中南大学软件工程专业，2013级，也就是2017届啦。现在处于实习+找工作的状态……</p>
    <p>作为一只软件狗☹程序猿☹攻城狮☹随你开心叫什么☹，我还是很不合格的。课程上没有好好学习，技术上没有好好钻研，最后到了准备工作的时候才发现为时已晚☹……不过现实并不会改变，所以还是把握现在的每一刻吧，祝愿自己相信自己也强迫自己一定找到理想的工作！</p>
	<p>开发主修<code>Java</code>，做的项目基本都是<code>Java Web</code>项目，不过就算是<code>Java Web</code>我也不是吃的很透吧。学院实训期间和同学小组一起做过一个购物平台项目，可以说也就是玩具项目啦，不丢人起见还是不挂出来了。另外真正做过的商业性的项目就是目前在实习期间做的了。这个项目用到了一个国内大神写的开源框架<a href="https://github.com/Wizzercn/NutzWk" target="_blank">NutzWk</a>——一个基于<a href="http://www.nutzam.com/" target="_blank">Nutz</a>的开源企业级开发框架，也是感觉特别好用了，这里可以安利一波233333</p>
	<p>感觉自己就是会一点<code>Java</code>，会一点<code>MySql</code>，会一点<code>HTML&amp;CSS</code>，会一点<code>JavaScript</code>，会一点<code>Linux</code>……真的是学艺不精啊☹，技术上需要学习的东西真的是太多了啊，算了，还是不多说了，滚去学习吧……</p>
    <p>PS：虽然身为一只软件狗，但我同时也是一名硬件发烧友（勉强算是吧，穷烧），基本手机电脑相关的硬件设备我都能折腾折腾，这些年手里过的机器也有百余台了吧……所以不得不提到我的毕生梦想：i7-6950X+四路Titan X，好了，我要去接着为我的梦想努(zuo)力(meng)了……</p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="about" data-title="{{page.title}}" data-url="{{site.url}}/about/"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"skylarkyan"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
<!-- 多说公共JS代码 end -->

{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
